

html {
height: 100%;
 background-color: #121212;
 align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}

centre-div {



h1 {
  
  font-weight: bold;
    font-size: 55px;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

